html {
    height:100%;
}

html a { color: #FFFFFF }

body {
    height: 100%;
    margin: 0;
    background-image: url('../index_files/Yosemite.jpeg');
    background-size: 1440px 800px;
    background-repeat:no-repeat;
    display: compact;
    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    height: 100%;
}

header {
    height: 33.5vmin;
}

#logo p {
    line-height: 90%;
    font-size:11vmin;
    word-wrap: break-word;
    background-color:white;
    opacity: 0.4;
}

#logo {
    width: 32vmin;
    margin: auto;
    margin-top: 4vmin;
    padding: 0 0 0 0;
    border: 0 0 0 0;
    float: none;
}

.navbar {
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

ul {
    display: flex;
}

li {
    float: center;
    margin-right: 9vmin;
}

li:last-of-type {
    margin-right: 0;
}

#text {
    width: 110vmin;
    max-width: 95%;
    margin: auto;
    margin-top: 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
    float: none;
}

#text div {
    line-height: 100%;
    max-width: 100%;
    word-wrap: break-word;
    background-color:white;
    opacity: 0.8;
}

